<! DOCTYPE html>
<html>
<head>
    <title>Student Information Form</title>
</head>
<body>
    <h2>Student Information Form</h2>
    <form action="/submit" method="POST">
        <label for="fname">First Name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="mname">Middle Name:</label><br>
        <input type="text" id="mname" name="mname"><br>
        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname"><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br>
        <label for="phone">Phone:</label><br>
        <input type="text" id="phone" name="phone"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="desc">Short Description:</label><br>
        <textarea id="desc" name="desc"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</htm1>